<section id="SETTINGS">
    <div class="icon-settings  ">
        <i class="fas fa-cog fa-2x "></i>
    </div>
    <div class="text-center px-4 w-100">
        <div id="clock">
            <div class="h">HH:</div>
            <div class="m">MM:</div>
            <div class="s">SS:</div>
            <div class="AM">AM/PM</div>
        </div>
        <div class="chekbox">
            <i class="mr-2 fas fa-sun fa-2x"></i>
            <input type="checkbox" class="btn btn-mood">
            <i class="ml-2 fas fa-cloud-moon fa-2x"></i>
        </div>
        <div class="all-i d-flex mt-4">
            <a href="https://www.facebook.com/profile.php?id=100005305816104" target="_blank"> <div class="circle"><i class="fab fa-facebook-f"></i> </div> </a>
            <a href="https://www.instagram.com/islam.ali186/" target="_blank"> <div class="circle" > <i class="fab fa-instagram"></i> </div> </a>
            <a href="https://github.com/Islam-ali"  target="_blank"> <div class="circle"><i class="fab fa-github"></i> </div> </a>
        </div>
    </div>
</section>
