<section id="PROJECTS" class="bg-lights">
    <div class="w-100 d-flex  justify-content-center pt-5">
        <div class="h3"><h3>My Projects</h3></div> 
    </div>
    <div class="container content">
        <div class="row projects wow fadeInUp"  data-wow-duration="1.5s" data-wow-delay=".2s" data-wow-offset="0">
            <div class="project">
                <div class="div-img"><img src="../../assets/tersaa.PNG" alt=""></div>
                <div class="descriptionCard">
                    <h4>Tersaa</h4>
                    <p>A website that sells auto parts the latest models from 135 brands such as Autocor, Bosch, and others</p>
                </div>
                <a class="btn" href="https://tersaa.netlify.app/" target="_blank" >view <i class="far fa-eye"></i></a>
            </div>
            <div class="project">
                <div class="div-img"><img src="../../assets/Capture.JPG" alt=""></div>
                <div class="descriptionCard">
                    <h4>3Elsaree3</h4>
                    <p>A site to publish the most important local and international daily news (Sports, Economic, Health, Cultural)</p>
                </div>
                <a class="btn" href="https://3elsaree3-news.netlify.app/" target="_blank" >view <i class="far fa-eye"></i></a>
            </div>
        </div>
    </div>
</section>
