<section id="ABOUT" class="bg-lights" >
    <div class="border-img wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".5s" data-wow-offset="0">
        <div class="img"></div>
    </div>
    <div class="About-Me wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".5s" data-wow-offset="0">
        <div class="h3"><h3>About Me</h3></div>
        <p class="prag">
            I am a Front-end Developer with 3 years experience,
            I create successful websites that are fast, easy to use, and built with best practices.
            I work to make a better web; one that is fast, easy to use, beautiful, accessible to all, and frustration-free. Regardless of your specific business requirements, in solving these challenges, you have a great chance of finding success online.
            <br><br>
            I am motivated, enthusiastic and well organised, with a keen eye for beautiful design, primarily based around user interfaces.
        </p>
        <div class="contact row">
            <p class="list"><i class="mr-2 fa fa-user"></i>Islam ALI</p>
            <p class="list"><i class="mr-2 far fa-calendar"></i>18/6/1999</p>
            <p class="list"><i class="mr-2 fas fa-map-marker-alt"></i>Mansoura,Egypt</p>
            <p class="list"><i class="mr-2 fas fa-envelope"></i>ai4625511@gmail.com</p>
            <p class="list"><i class="mr-2 fas fa-phone-alt"></i>01060224342</p>
            <p class="list"><i class="mr-2 fas fa-code"></i>Front-end Developer</p>
            <div class="buttons">
                <a href="https://www.facebook.com/profile.php?id=100005305816104" target="_blank"> <button class="btn">Hire Me <i class="x ml-2 fas fa-paper-plane"></i></button></a>
                <!----<a href="#SKILLS"><button class="btn">Download C.V <i class="x ml-2 fas fa-cloud-download-alt"></i></button></a>-->
            </div>
        </div>
    </div>

</section>