<section id="SERVICES" class="bg-lights">
    <div class="container">
        <div class="w-100 d-flex  justify-content-center pt-5">
            <div class="h3"><h3>My Services</h3></div> 
        </div>
        <div class="row d-flex justify-content-center ">

            <div class="content bordr-r1 wow fadeInLeft"  data-wow-duration="1.5s" data-wow-delay=".3s" data-wow-offset="0">
                <i class="fas fa-user-edit"></i>
                <h4>FRONT END DESIGN</h4>
                <p>Architecting engaging user experiences using front-end technologies</p>
            </div>

            <div class="content bordr-r2 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s" data-wow-offset="0">
                <i class="fas fa-cogs"></i>
                <h4>PERFORMANCE TUNING</h4>
                <p>Optimize your existing application with our front-end optimization services</p>
            </div>

            <div class="content bordr-t3 wow fadeInRight"  data-wow-duration="1.5s" data-wow-delay=".3s" data-wow-offset="0">
                <i class="fas fa-user-clock"></i>
                <h4>Speed ​​& Efficiency</h4>
                <p>I use higher efficiency, faster development, and try my best to reduce time.</p>
            </div> 
        </div>
    </div>

</section>