<section id="SKILLS" class="bg-lights">
<div class="container d-flex justify-content-center row">
    <div class="w-100 d-flex  justify-content-center pt-5">
        <div class="h3"><h3>My Skills</h3></div> 
    </div>
    <div class="skills borderrr wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".7s" data-wow-offset="0">
        <circle-progress 
            [percent]="85"
            [radius]="60"
            [outerStrokeColor]="'rgb(150, 110, 57)'"
            [animation]="true"
            [animationDuration]="800">
        </circle-progress>
        <p class="p-light">WEB DESIGN</p>
    </div>
    <div class="skills borderr borderbottom wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".7s" data-wow-offset="0">
        <circle-progress
            [percent]="95"
            [radius]="60"
            [outerStrokeColor]="'rgb(150, 110, 57)'"
            [animation]="true"
            [animationDuration]="800">
        </circle-progress>
        <p class="p-light">HTML5/CSS3</p>
    </div>
    <div class="skills borderrr bordertop wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".7s" data-wow-offset="0">
        <circle-progress
            [percent]="85"
            [radius]="60"
            [outerStrokeColor]="'rgb(150, 110, 57)'"
            [animation]="true"
            [animationDuration]="800">
        </circle-progress>
        <p class="p-light">Js/Jquery</p>
    </div>
    <div class="skills wow fadeInRight " data-wow-duration="1.5s" data-wow-delay=".7s" data-wow-offset="0">
        <circle-progress
            [percent]="80"
            [radius]="60"
            [outerStrokeColor]="'rgb(150, 110, 57)'"
            [animation]="true"
            [animationDuration]="800">
        </circle-progress>
        <p class="p-light">ANGULAR</p>
    </div>
</div>
</section>