<section id="RESUME" class="bg-lights">
    <div class="container">
        <div class="w-100 d-flex  justify-content-center ">
            <div class="h3"><h3>My Resume</h3></div> 
        </div>
        <div class="d-flex justify-content-center w-100 ">
            <div class="buttons wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".2s" data-wow-offset="0">
                <ul class="ul-buttons ">
                    <li data-filter="EXPERIENCE" class="nav-link active bordr-l"><i class="mr-2 fas fa-briefcase"></i> EXPERIENCE</li>
                    <li data-filter="EDUCATION" class="nav-link bordr-r"><i class="mr-2 fas fa-graduation-cap"></i> EDUCATION</li>
                </ul>
            </div>
        </div>
        <div class="resume EXPERIENCE wow fadeIn">
            <div class="list">
                <h6>Front End Developer</h6>
                <span>2018 - 2019</span>
                <p>
                        I'm Meticulous web developer with over 3 years of front end experience and passion for responsive website design and a firm believer in the mobile-first
                </p>
            </div>
            <div class="list">
                <h6>Freelance Web Developer</h6>
                <span>2019 - 2020</span>
                <p>
                    Built an website that sells auto parts the latest models
                </p>
            </div>
            <div class="list">
                <h6>DSC</h6>
                <span>2020 - 2021</span>
                <p>
                    Developer Student Club Lead - Sinai University.
                </p>
            </div>
        </div>
        <div class="resume EDUCATION " >
            <div class="list">
                <h6>6 October University</h6>
                <span>Expected Graduation: 2021</span>
                <p>
                    Relevant Coursework: Computer Fundamentals, Web Development, Typography, Web Design, eColor Theory, Database Management Systems, Object-Oriented Programming, Web Architecture, Mobile Application Development. 
                </p>
            </div>
            <div class="list">
                <h6>High School</h6>
                <span>Graduation: 2016</span>
                <p>
                    I learned mathematics science and engineering in high school
                <br>Egypt, El Mansoura 
                </p>
            </div>
        </div>
    </div>
</section>
