<nav class="navbar navbar-expand w-100">
  <div class="prand"> <img src="../assets/2_files/IIIIIIII.jpg" alt=""></div>
  <ul class="navbar-nav colapps-icon "data-wow-duration="1.2s" data-wow-delay="1s">
    <li class="nav-item">
      <a class="nav-link active" href="#HOME">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#ABOUT">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#RESUME">Resume</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#SERVICES">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#PROJECTS">projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#CONTACTUS">Contact Us</a>
    </li>
  </ul>
  <div class="icon nav-icon-6">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
<app-settings></app-settings>
<app-home></app-home>
<app-about></app-about>
<app-skills></app-skills>
<app-my-resume></app-my-resume>
<app-services></app-services>
<app-projects></app-projects>
<app-contact></app-contact>

<footer>
  <div class="rgba"></div>
  <div class="allcontent row" >
    <div class="imgFooter"></div>
    <div class="about">
      <h3 class="mb-3">about</h3>
      <p>I am a Front-end Developer with 3 years experience, I create successful websites that are fast, easy to use, and built with best practices. I work to make a better web; </p>
    </div>
    <div class="follow">
      <h3 class="mb-3">Follow Us </h3>
      <div class="all-i d-flex mt-4">
        <a href="https://www.facebook.com/profile.php?id=100005305816104" target="_blank"> <div class="circle"><i class="fab fa-facebook-f"></i> </div> </a>
        <a href="https://www.instagram.com/islam.ali186/" target="_blank"> <div class="circle" > <i class="fab fa-instagram"></i> </div> </a>
        <a href="https://github.com/Islam-ali"  target="_blank"> <div class="circle"><i class="fab fa-github"></i> </div> </a>
      </div>
    </div>

    <div class="projects">
      <h3 class="mb-3">Projects</h3>
      <div class="imgs">
            <img src="../assets/tersaa.PNG" alt="">
            <img src="../assets/project1.JPG" alt="">
            <img src="../assets/project2.JPG" alt="">
            <img src="../assets/Capture.JPG" alt="">
      </div>
    </div>

  </div>




  <div class="footer-end">
    <p>Made With <i class="fas fa-heart"></i> By Islam Ali © 2021</p>
  </div>
  
</footer>
